@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------------Navigation Bar-----------------------------------------------------------*/

header {
    width: auto;
    height: 10vh;
    background: #06beb6;
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
    background: linear-gradient(to right, #48b1bf, #06beb6);
}

#navigation-bar {
    width: 1415.25px;
    height: 64px;
    margin: auto;
    padding: 4px 12px 4px 12px;
    border-radius: 800px;
    background-color: rgb(255, 255, 255, 0.5);
}

.nav-button {
    padding: 0px 15px;
    background-color: none;
    border: none;
    color: #1d2653;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.4s;
    text-decoration: none;
}

.nav-button:hover {
    background-color: none;
    color: #497be8;
}

.nav-button.active {
    background-color: none;
    color: #497be8;
}

.nav2 {
    margin: 0 6px;
}

/*----------------------------------------------------My Information-------------------------------------------------------------*/

#left-col {
    width: auto;
    height: 50vh;
    padding-right: 25%;
    padding-top: 10%;
}

#right-col {
    width: auto;
    height: 50vh;
    margin-top: 20%;
    padding-left: 25%;
    padding-top: 10%;
    font-family: "Montserrat", sans-serif;
}

#right-col > h1 {
    color: #fff;
}

#article1 {
    width: auto;
    height: 90vh;
    background: #06beb6;
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
    background: linear-gradient(to right, #48b1bf, #06beb6);
}

#article2 {
    width: auto;
    height: 100vh;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
}

#article3 {
    width: auto;
    height: 100vh;
    background: #F2994A;
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
    background: linear-gradient(to right, #F2C94C, #F2994A);

}

main {
    width: auto;
    height: 100vh;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
}