@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------------Navigation Bar-----------------------------------------------------------*/

header {
    width: auto;
    height: 10vh;
    background: #06beb6;
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
    background: linear-gradient(to right, #48b1bf, #06beb6);
}

#navigation-bar {
    width: 100%;
    max-width: 1415.25px;
    height: 64px;
    margin: auto;
    padding: 4px 12px 4px 12px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255, 0.5);
}

.nav-button {
    padding: 0px 15px;
    background-color: none;
    border: none;
    color: #1d2653;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.4s;
    text-decoration: none;
}

.nav-button:hover {
    background-color: none;
    color: #497be8;
}

.nav-button.active {
    background-color: none;
    color: #497be8;
}

.nav2 {
    margin: 0 6px;
}

/*----------------------------------------------------My Information-------------------------------------------------------------*/

#left-col {
    width: auto;
    height: 50vh;
    padding-right: 20%;
    padding-top: 3%;
    margin: 5rem;
}

#right-col {
    width: auto;
    height: 50vh;
    margin-top: 15%;
    padding-left: 25%;
    padding-top: 10%;
    font-family: "Montserrat", sans-serif;
}

#right-col>h1 {
    color: #fff;
}

/*Cv Button*/

.btn-4 {
    scale: 0.5;
    --width: 234px;
    --height: 83.2px;
    --tooltip-height: 52px;
    --tooltip-width: 143px;
    --gap-between-tooltip-to-button: 23.4px;
    --button-color: #000046;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: absolute;
    text-align: center;
    margin-left: 5.5%;
    font-family: inherit;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background 0.3s;
}

.btn-4::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 22px;
    color: #111;
    border-radius: 6px;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}

.btn-4::after,
.btn-4::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.btn-4 .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-4 .button-wrapper,
.btn-4 .text,
.btn-4 .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.btn-4 .text {
    top: 0;
}

.btn-4 .text,
.btn-4 .icon {
    transition: top 0.5s;
}

.btn-4 .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-4 .icon svg {
    width: 40px;
    height: 40px;
}

.btn-4:hover {
    background: #8f44fd;
}

.btn-4:hover .text {
    top: -100%;
}

.btn-4:hover .icon {
    top: 0;
}

.btn-4:hover:before,
.btn-4:hover:after {
    opacity: 1;
    visibility: visible;
}

.btn-4:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.btn-4:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

#article1 {
    width: auto;
    height: 120vh;
    background: #06beb6;
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
    background: linear-gradient(to right, #48b1bf, #06beb6);
}

#article2 {
    width: auto;
    height: 120vh;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
}

#article3 {
    width: auto;
    height: 120vh;
    background: #F2994A;
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
    background: linear-gradient(to right, #F2C94C, #F2994A);

}

main {
    width: auto;
    height: 100vh;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
}